*{
    background-color: rgb(182, 240, 248);
    color: #000;

}

.staff{
 color: rgb(0, 0, 0);


}

.staff-serched{
    background: rgba(235, 69, 19, 0.918);
    color: rgba(253, 253, 253, 0.945);

}